In [71]:
import pandas as pd
from pprint import pprint

In [72]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [91]:
test = pd.read_csv("data/gun_data.csv")
filtered_data = test[['YEAR', 'STATE', 'DEATHS']]
hfr_data = test[['YEAR', 'STATE', 'HFR']]
tt = filtered_data.groupby(['STATE', 'YEAR']).agg(['sum']).reset_index()
pp = hfr_data.groupby(['STATE', 'YEAR']).agg(['min']).reset_index()

pp.columns = pp.columns.droplevel(1)
tt.columns = tt.columns.droplevel(1)


aa = tt.pivot(index='YEAR', columns='STATE', values='DEATHS').reset_index();
pp = pp.pivot(index='YEAR', columns='STATE', values='HFR').reset_index();
bb = tt['YEAR']
test
#for col in y.columns: 
 #   print(col) 
#t = t.pivot(index='YEAR', columns='STATE', values='DEATHS')

,FIP,YEAR,STATE,HFR,HFR_se,universl,permit,Fem_FS_S,Male_FS_S,BRFSS,...,BS1,BS2,BS3,State Code,Year Code,Cause of death,Cause of death Code,DEATHS,POPULATION,Crude Rate
0,1,1999,AL,0.537,0.036,0,0,0.697917,0.801743,-9.0,...,12.0,7.0,0.0,1.0,1999.0,Discharge from other and unspecified firearms,W34,47.0,4430141.0,1.1
1,1,1999,AL,0.537,0.036,0,0,0.697917,0.801743,-9.0,...,12.0,7.0,0.0,1.0,1999.0,Intentional self-harm by handgun discharge,X72,94.0,4430141.0,2.1
2,1,1999,AL,0.537,0.036,0,0,0.697917,0.801743,-9.0,...,12.0,7.0,0.0,1.0,1999.0,"Intentional self-harm by rifle, shotgun and la...",X73,63.0,4430141.0,1.4
3,1,1999,AL,0.537,0.036,0,0,0.697917,0.801743,-9.0,...,12.0,7.0,0.0,1.0,1999.0,Intentional self-harm by other and unspecified...,X74,278.0,4430141.0,6.3
4,1,1999,AL,0.537,0.036,0,0,0.697917,0.801743,-9.0,...,12.0,7.0,0.0,1.0,1999.0,Assault by handgun discharge,X93,37.0,4430141.0,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,56,2015,WY,0.549,0.032,0,0,0.393939,0.661290,-9.0,...,12.0,12.0,11.0,56.0,2015.0,Intentional self-harm by other and unspecified...,X74,50.0,586107.0,8.5
4576,56,2015,WY,0.549,0.032,0,0,0.393939,0.661290,-9.0,...,12.0,12.0,11.0,56.0,2015.0,Assault by other and unspecified firearm disch...,X95,11.0,586107.0,Unreliable
4577,56,2016,WY,0.607,0.032,0,0,0.375000,0.669643,-9.0,...,12.0,12.0,12.0,56.0,2016.0,Intentional self-harm by handgun discharge,X72,38.0,585501.0,6.5
4578,56,2016,WY,0.607,0.032,0,0,0.375000,0.669643,-9.0,...,12.0,12.0,12.0,56.0,2016.0,"Intentional self-harm by rifle, shotgun and la...",X73,11.0,585501.0,Unreliable
4579,56,2016,WY,0.607,0.032,0,0,0.375000,0.669643,-9.0,...,12.0,12.0,12.0,56.0,2016.0,Intentional self-harm by other and unspecified...,X74,38.0,585501.0,6.5

In [21]:
df = pd.read_csv("data/data.csv")
gun_df = pd.read_csv("data/guns.csv")
gun_df['STATE'] = gun_df['STATE'].map(us_state_abbrev).fillna(gun_df['STATE'])
df

,YEAR,STATE,RATE,DEATHS,URL
0,2018.0,AL,21.8,1064.0,/nchs/pressroom/states/alabama/al.htm
1,2018.0,AK,21.0,155.0,/nchs/pressroom/states/alaska/ak.htm
2,2018.0,AZ,15.3,1147.0,/nchs/pressroom/states/arizona/az.htm
3,2018.0,AR,18.9,573.0,/nchs/pressroom/states/arkansas/ar.htm
4,2018.0,CA,7.5,3040.0,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
296,2005.0,WA,8.8,567.0,/nchs/pressroom/states/washington/washington.htm
297,2005.0,WV,13.8,261.0,/nchs/pressroom/states/westvirginia/westvirgin...
298,2005.0,WI,8.5,474.0,/nchs/pressroom/states/wisconsin/wisconsin.htm
299,2005.0,WY,13.4,71.0,/nchs/pressroom/states/wyoming/wyoming.htm
300,NaN,NaN,NaN,NaN,NaN

In [17]:
gun_df.drop(columns=['Year Code'])
gun_df.dropna(how='any', inplace=True)
gun_df

gun_df.to_csv('data/gun_data.csv', index=False)

In [59]:
df = df.pivot(index='YEAR', columns='STATE', values='DEATHS')
df.reset_index(inplace=True)
df = df.loc[:, df.columns.notnull()]
df = df.iloc[1:]
df

STATE,YEAR,AK,AL,AR,AZ,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1,2005.0,116.0,736.0,439.0,934.0,3453.0,535.0,187.0,75.0,1838.0,...,82.0,976.0,2490.0,227.0,888.0,44.0,567.0,474.0,261.0,71.0
2,2014.0,145.0,815.0,496.0,927.0,2942.0,663.0,187.0,102.0,2410.0,...,89.0,1016.0,2848.0,337.0,889.0,69.0,702.0,487.0,286.0,93.0
3,2015.0,177.0,958.0,520.0,970.0,3095.0,701.0,189.0,112.0,2559.0,...,96.0,1075.0,3203.0,367.0,946.0,70.0,718.0,613.0,278.0,113.0
4,2016.0,177.0,1046.0,541.0,1094.0,3184.0,812.0,172.0,111.0,2704.0,...,108.0,1148.0,3353.0,370.0,1049.0,78.0,686.0,664.0,332.0,101.0
5,2017.0,180.0,1124.0,613.0,1134.0,3184.0,779.0,188.0,111.0,2724.0,...,101.0,1246.0,3513.0,410.0,1041.0,70.0,849.0,624.0,348.0,113.0
6,2018.0,155.0,1064.0,573.0,1147.0,3040.0,889.0,186.0,107.0,2902.0,...,117.0,1228.0,3522.0,397.0,1035.0,82.0,809.0,598.0,343.0,124.0

In [ ]:
json_data = df.to_json()